.signin {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  .login {
    border: 1px rgba(83, 83, 83, 0.545) solid;

    width: 400px;
    margin: auto;
    font-size: 16px;
  }

  /* Reset top and bottom margins from certain elements */
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* The triangle form is achieved by a CSS hack */
  .login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: gray;
    display: none;
  }

  .login-header {
    background: gray;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .login-container {
    background: #ebebeb;
    padding: 12px;
  }

  /* Every row inside .login-container is defined with p tags */
  .login p {
    padding: 12px;
  }

  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    outline: 0;
    font-size: 0.95em;
  }
  .signup {
    box-sizing: border-box;
    background: #bbbbbb;
    color: white;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    outline: 0;
    font-size: 0.95em;
  }
  .login input[type="email"],
  .login input[type="password"],
  .login input[type="text"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }

  /* Text fields' focus effect */
  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    border-color: #888;
  }

  .login input[type="submit"],
  .signup {
    background: gray;
    color: #fff;
    cursor: pointer;
    &:first-child {
      margin-bottom: 1rem;
    }
    border: 1px solid gray;
  }

  .login input[type="submit"]:hover,
  .signup:hover {
    color: gray;
    background-color: white;
  }
}

.signin {
  background: #e5e5e5;
}

@media only screen and (max-width: 950px) {
  .card__container {
    width: 100% !important;
  }
  .card__container .exit__sign {
    position: absolute;
    padding: 10px;
    top: 10px;
    z-index: 6;
    right: 17px;
  }
}
@media only screen and (max-width: 439px) {
  .card__comment--input form input {
    width: 92% !important;
  }
}
