.chat__container {
  padding-left: 6rem;
  width: 90%;
  margin: auto;
  padding-top: 2rem;
}

.chat__container .search--input {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.chat__container .search--input input {
  width: 90%;
  height: 70%;
  padding: 1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-right: 3.5rem;
  position: relative;
}

.chat__container .friend__item {
  overflow: auto;
}

.chat__container--flex {
  height: 90vh;
  background-color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__container .chat--item--container {
  margin-bottom: 1rem;
  padding: 1rem;
}

.chat__container .chat--item--container:hover {
  background-color: white;
}

.chat__container .chat--item--container:hover .about {
  color: #555555;
}

.chat__container__friendList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.chat__container__friendList .item--flex {
  padding: 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__container__friendList .item--flex img {
  border-radius: 50%;
  margin-right: 2rem;
}

.chat__container__friendList .about {
  font-size: 1.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat__container__friendList .about .status {
  color: #aeabab;
}

.chat__container .online {
  color: #4af14a;
}

.chat__container .offline {
  color: #f54a4a;
}

.chat__container .chat__body {
  width: 75%;
  border: rgba(0, 0, 0, 0.79) 1px solid;
  background-color: #f2f5f8;
}

.chat__container li {
  list-style-type: none;
}

.chat__container .chat__body--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0 0;
  padding: 1rem 2rem 0.5rem;
  height: 15%;
  border-bottom: white 1px solid;
}

.chat__container .chat__body--title .title--image {
  margin-right: 2rem;
}

.chat__container .chat__body--title .title--image img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.chat__container .chat__body--title .title--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__container .chat__body__content {
  padding: 1rem 3rem;
  width: 100%;
  height: 75%;
  overflow: auto;
}

.chat__container .chat__body__content .bubble {
  margin-top: 1.5rem;
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  width: 80%;
  vertical-align: top;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat__container .chat__body__content .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: "\00a0";
  -webkit-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
}

.chat__container .chat__body__content .bubble.you {
  color: white;
  background-color: var(--blue);
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

.chat__container .chat__body__content .bubble.you:before {
  left: -3px;
  background-color: var(--blue);
}

.chat__container .chat__body__content .bubble.you .message--date {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  font-size: 1rem;
  color: #575757;
}

.chat__container .chat__body__content .bubble.me {
  color: white;
  margin-left: auto;
  background-color: #bcbcbd;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-name: slideFromRight;
          animation-name: slideFromRight;
}

.chat__container .chat__body__content .bubble.me .message--date {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  font-size: 1rem;
  color: #575757;
}

.chat__container .chat__body__content .bubble.me:before {
  right: -3px;
  background-color: #bcbcbd;
}

.write {
  height: 10%;
  padding-left: 8px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #eceff1;
  width: 100%;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.write input {
  font-size: 16px;
  padding-right: 7rem;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  color: var(--dark);
  border: 0;
  outline: none;
  background-color: #eceff1;
}

.write .send__links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
}

.write .write-link.smiley:before {
  display: inline-block;
  width: 20px;
  height: 42px;
  content: "";
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
  background-repeat: no-repeat;
  background-position: center;
}

.write .write-link.send:before {
  display: inline-block;
  width: 20px;
  height: 42px;
  margin-left: 11px;
  content: "";
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=chat.css.map */