.list--container {
  .create-post {
    width: 100%;
    min-height: 90px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f2f2;
  }

  .create-post .form-group {
    margin-bottom: 0;
    display: inline-flex;
  }
  //message--form
  .create-post .form-group .form-control {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .create-post .form-group img.profile-photo-md {
    margin-right: 10px;
  }

  .create-post .tools {
    padding: 8px 0 10px;
  }

  .create-post .tools ul.publishing-tools {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 5px 0;
  }

  .create-post .tools ul.publishing-tools li a {
    color: #6d6e71;
    font-size: 18px;
  }

  .create-post .tools ul.publishing-tools li a:hover {
    color: #27aae1;
  }

  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

  /*==================================================
    Friend List CSS = Newsfeed and Timeline
    ==================================================*/

  .friend-list .friend-card {
    border-radius: 4px;
    border-bottom: 1px solid #f1f2f2;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .friend-list .friend-card .card-info {
    padding: 0 20px 10px;
  }

  .friend-list .friend-card .card-info img.profile-photo-lg {
    margin-top: -60px;
    border: 7px solid #fff;
  }

  img.profile-photo-lg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  .text-green {
    color: #8dc63f;
  }
}
.profil__wrapper {
  .message--form {
    input {
      margin: 1rem 0;
    }
    .close--message {
      z-index: 99;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      // background-color: gold;
      font-size: initial;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      button {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        background-color: rgba(206, 206, 206, 0.164);
        border: none;
        outline: none;
        border-radius: 10px;
      }
    }
    width: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 50%;
    // border: 0.5px solid black;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 8;
    box-shadow: rgba(30, 30, 31, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    button {
      width: 70%;
      height: 50px;
      font-size: initial;
      margin: 0;
      border: none;
      outline: none;
      border: 2px solid rgba(128, 128, 128, 0.456);
    }
    .message--form--input {
      height: 35px;
      font-size: initial;
      padding: 20px 10px;
      width: 70%;
    }
  }
  .edit--form {
    input {
      margin: 1rem 0;
    }
    .close--message {
      z-index: 99;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      // background-color: gold;
      font-size: initial;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      button {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        background-color: rgba(206, 206, 206, 0.164);
        border: none;
        outline: none;
        border-radius: 10px;
      }
    }
    span {
      color: red;
    }
    h1 {
      font-size: 1.75rem;
    }

    width: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 85%;
    // border: 0.5px solid black;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 8;
    box-shadow: rgba(30, 30, 31, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    button {
      width: 100%;
      height: 50px;
      padding: 10px;
      font-size: initial;
      margin: 0;
      border: none;
      outline: none;
      border: 2px solid rgba(128, 128, 128, 0.456);
    }
    .message--form--input {
      height: 35px;

      font-size: initial;
      padding: 20px 10px;
      width: 100%;
    }
    .flex--child {
      width: 100%;
    }
  }
  width: 65%;
  margin: auto;
  padding-left: 6rem;
  .header {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    font-family: "Roboto", sans-serif;

    .card-title {
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    .card-amount {
      margin-bottom: 2rem;
    }
    .card-amount {
      border: 1px solid #0000009a;
      margin-left: 8px;
      padding: 10px;
      border-radius: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  /*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/
  /* Base Styles */

  :root {
    font-size: 10px;
  }

  img {
    display: block;
  }
  * {
    box-sizing: border-box;
  }
  .container {
    .card__container {
      width: 100% !important;
    }
    .card {
      margin: 1rem 0;
    }
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
  }

  .btn:focus {
    outline: 0.5rem auto #4d90fe;
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  /* Profile Section */

  .profile {
    padding: 5rem 0;
    display: flex;
    width: 100%;
  }

  .profile::after {
    content: "";
    display: block;
    clear: both;
  }

  .profile-image {
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
  }
  .pen--edit {
    margin-left: 15px;
    cursor: pointer;
  }
  .profile-image img {
    border-radius: 5px;
  }

  .profile-user-settings,
  .profile-stats,
  .profile-bio {
    width: calc(66.666% - 2rem);
  }

  .profile-user-settings {
    margin-top: 1.1rem;
    display: flex;
    align-items: center;
  }

  .profile-user-name {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 3rem;
  }

  .profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 5rem;
    margin-left: 4rem;
  }

  .profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .profile-stats {
    margin-top: 2.3rem;
  }

  .profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
  }

  .profile-stats li:last-of-type {
    margin-right: 0;
  }

  .profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
  }

  .profile-real-name,
  .profile-stat-count,
  .profile-edit-btn {
    font-weight: 600;
  }

  /* Gallery Section */

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
  }

  .gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
  }

  .gallery-item:hover .gallery-item-info,
  .gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery-item-info {
    display: none;
  }

  .gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
  }

  .gallery-item-likes {
    margin-right: 2.2rem;
  }

  .gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  }

  .fa-clone,
  .fa-comment {
    transform: rotateY(180deg);
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Loader */

  .loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
  }

  /* Media Query */

  @media screen and (max-width: 40rem) {
    .profile {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 0;
    }

    .profile::after {
      display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
      float: none;
      width: auto;
    }

    .profile-image img {
      width: 7.7rem;
    }

    .profile-user-settings {
      flex-basis: calc(100% - 10.7rem);
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
    }

    .profile-user-name {
      font-size: 2.2rem;
      // background-color: #4d90fe;
      display: block;
    }

    .profile-edit-btn {
      order: 1;
      padding: 0;
      text-align: center;
      margin-top: 1rem;
    }

    .profile-edit-btn {
      margin-left: 0;
    }

    .profile-bio {
      font-size: 1.4rem;
      margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
      flex-basis: 100%;
    }

    .profile-stats {
      order: 1;
      margin-top: 1.5rem;
    }

    .profile-stats ul {
      display: flex;
      text-align: center;
      padding: 1.2rem 0;
      border-top: 0.1rem solid #dadada;
      border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
      font-size: 1.4rem;
      flex: 1;
      margin: 0;
    }

    .profile-stat-count {
      display: block;
    }
  }

  /* Spinner Animation */

  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }

  /*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

  @supports (display: grid) {
    .profile {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 3rem;
      align-items: center;
    }

    .profile-image {
      grid-row: 1 / -1;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
      width: auto;
      margin: 0;
    }

    @media (max-width: 40rem) {
      .profile {
        grid-template-columns: auto 1fr;
        grid-row-gap: 1.5rem;
      }

      .profile-image {
        grid-row: 1 / 2;
      }

      .profile-user-settings {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;
      }

      .profile-edit-btn,
      .profile-stats,
      .profile-bio {
        grid-column: 1 / -1;
      }

      .profile-user-settings,
      .profile-edit-btn,
      .profile-settings-btn,
      .profile-bio,
      .profile-stats {
        margin: 0;
      }
    }
  }
}

.friend__card--wrapper {
  body {
    background: #cccccc;
  }

  .app {
    .wrapper {
      display: flex;
      justify-content: center;
    }

    .card-v2 {
      // border: 1px solid rgba(118, 118, 118, 0.266);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      // background: yellow;
      border-radius: 12px;
      // padding: 5rem;
      margin: 5rem 0px 0px 0;

      .header {
        display: flex;
        align-items: center;
        margin: 0px 20px;
        font-family: "Roboto", sans-serif;

        .card-title {
          font-weight: bold;
          font-size: 3rem;
          margin-bottom: 2rem;
        }
        .card-amount {
          margin-bottom: 2rem;
        }
        .card-amount {
          border: 1px solid #000000;
          margin-left: 8px;
          padding: 10px;
          border-radius: 10px;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .content {
        // background-color: #4d90fe;
        .contact-list {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .contact-entry {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5rem 0;

            .avatar {
              width: 15rem;
              height: 15rem;
            }

            .contact-details {
              display: flex;
              flex-direction: column;
              font-family: "Roboto", sans-serif;
              margin-right: 90px;

              width: 100%;
              text-align: center;
              .contact-name {
                font-weight: bold;
                font-size: 3.5rem;
                margin-bottom: 4px;
              }

              .contact-location {
                font-size: 2rem;
                font-weight: 100;
              }
            }

            i {
              font-size: 4rem;
              color: #000000;
              margin-right: 20px;
            }
          }
        }
      }

      .view-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 165px;
        height: 55px;
        margin-left: 20px;
        color: #ffffff;
        background: #000000;
        border-radius: 15px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
      }
    }
  }
}
